
data/acled/1999-01-01-2021-12-31.csv
data/world_shp/gadm404.cpg
data/world_shp/gadm404.dbf
data/world_shp/gadm404.prj
data/world_shp/gadm404.shp
data/world_shp/gadm404.shx
data/prio/PRIO-GRID Yearly Variables for 1999-2014 - 2022-06-03.csv
